@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  transition: all .1s linear;
  outline: none;
  border: none;
}

.container {
  padding: 10px;
}

.heading {
  text-align: center;
}

.heading h1 {
  text-transform: capitalize;
  font-size: 60px
}

.heading .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: 10px auto;
  cursor: pointer;
}

.options p {
  text-transform: capitalize;
  font-size: 17px;
}

.cards {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}

.card-container {
  border: solid #222;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container .image {
  width: 22rem;
  height: 12rem;
  margin: 0 auto;
}

.card-container .image .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-container .texts {
  padding: 10px;
}

.card-container .texts .menu-name {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.menu-name h3 {
  font-size: 20px;
  margin-top: 10px;
}

.texts p {
  font-size: 14px;
  line-height: 20px;
}
